@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/media";

.body {
  min-height: 100vh;
  background-color: $carrara-color;
  @include for-phone-only {
    background-color: $white-color;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    box-shadow: 0 0 20px 20px $alto-color;
    border-radius: 5px;
    min-width: 58rem;
    padding: 3rem 4rem;
    @include for-tablet-portrait {
      min-width: 50rem;
    }
    @include for-phone-only {
      top: 0;
      left: 0;
      min-width: 100vw;
      transform: translate(0, 0);
      box-shadow: none;
      background-color: transparent;
      padding: 2rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      button[type="submit"] {
        margin-top: 3rem;
        margin-bottom: 2rem;
        width: 100%;
        @include for-phone-only {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
