@import "../../assets/styles/colors";
@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
@import "../../assets/styles/media";

.statisticsBody {
  padding-top: 3rem;
  @include for-tablet-portrait {
    padding-top: 2rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid $carrara-color;
    padding-bottom: 2rem;
    @include for-tablet-landscape {
      gap: 1rem;
    }
    @include for-tablet-portrait {
      align-items: center;
    }
    .subtitle {
      font-weight: 400;
      color: $silver-color;
    }
    .blockContainer {
      display: flex;
      @include for-phone-only {
        display: none;
      }
    }
    .userInfo {
      color: $grey-color;
      font-size: 1.8rem;
      display: flex;
      @include for-tablet-landscape {
        font-size: 1.6rem;
      }
      span {
        cursor: pointer;
        margin-left: 1rem;
        font-weight: 500;
        color: $theme-color;
      }
    }
  }
}

@include fade-transition(0.2s);
