@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixins";

.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.5);
  @include flex-center;
}
