@import "../../../styles/media";
@import "../../../styles/mixins";
@import "../../../styles/colors";

.quizBody {
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include for-tablet-landscape {
      width: 65%;
      margin: 0 auto;
    }
    @include for-tablet-portrait {
      width: 80%;
    }
    @include for-phone-only {
      width: 100%;
    }
    .backToMenuBtn {
      @include for-tablet-landscape {
        display: none;
      }
    }
  }
}

.btnNext {
  position: relative;
  float: right;
}

@include fade-transition(0.3s);
