@import "../../../../assets/styles/media";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/colors";

.formHeader {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 4rem;
  flex-direction: column;
  @include flex-center;
  @include for-phone-only {
    margin-bottom: 3rem;
  }
  .logo {
    margin-bottom: 2rem;
    width: 25rem;
    @include for-phone-only {
      width: 20rem;
      margin-bottom: 1rem;
    }
  }
  .message {
    font-weight: 400;
    font-size: 2rem;
    color: $grey-color;
    line-height: 2.75rem;
    @include for-tablet-portrait {
      font-size: 1.9rem;
    }
    @include for-phone-only {
      font-size: 1.8rem;
    }
  }
}
