#eerCdz7iIMH10 {
  animation: eerCdz7iIMH10_c_o 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH10_c_o {
  0% {
    opacity: 0;
  }
  23.809524% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#eerCdz7iIMH11_tr {
  animation: eerCdz7iIMH11_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH11_tr__tr {
  0% {
    transform: translate(125px, 125px) rotate(0deg);
  }
  23.809524% {
    transform: translate(125px, 125px) rotate(0deg);
    animation-timing-function: cubic-bezier(0.18, 0.25, 0.42, 0.965);
  }
  95.238095% {
    transform: translate(125px, 125px) rotate(90deg);
  }
  100% {
    transform: translate(125px, 125px) rotate(90deg);
  }
}
#eerCdz7iIMH13_ts {
  animation: eerCdz7iIMH13_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH13_ts__ts {
  0% {
    transform: translate(150.44285px, 152.693731px) scale(0.89, 0.89);
  }
  38.095238% {
    transform: translate(150.44285px, 152.693731px) scale(0.89, 0.89);
  }
  47.619048% {
    transform: translate(150.44285px, 152.693731px) scale(1.4, 1.4);
  }
  100% {
    transform: translate(150.44285px, 152.693731px) scale(1.4, 1.4);
  }
}
#eerCdz7iIMH13 {
  animation: eerCdz7iIMH13_c_o 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH13_c_o {
  0% {
    opacity: 0;
  }
  28.571429% {
    opacity: 0;
  }
  33.333333% {
    opacity: 1;
  }
  47.619048% {
    opacity: 1;
  }
  66.666667% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eerCdz7iIMH14_tr {
  animation: eerCdz7iIMH14_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH14_tr__tr {
  0% {
    transform: translate(69.024095px, 225.722351px) rotate(-63.132173deg);
  }
  47.619048% {
    transform: translate(69.024095px, 225.722351px) rotate(-63.132173deg);
  }
  90.47619% {
    transform: translate(69.024095px, 225.722351px) rotate(90deg);
  }
  100% {
    transform: translate(69.024095px, 225.722351px) rotate(90deg);
  }
}
#eerCdz7iIMH14_ts {
  animation: eerCdz7iIMH14_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH14_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  42.857143% {
    transform: scale(0, 0);
  }
  52.380952% {
    transform: scale(0.5, 0.5);
  }
  85.714286% {
    transform: scale(0.5, 0.5);
  }
  95.238095% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}
#eerCdz7iIMH15_tr {
  animation: eerCdz7iIMH15_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH15_tr__tr {
  0% {
    transform: translate(90.3191px, 86.806642px) rotate(0deg);
  }
  47.619048% {
    transform: translate(90.3191px, 86.806642px) rotate(0deg);
  }
  90.47619% {
    transform: translate(90.3191px, 86.806642px) rotate(90deg);
  }
  100% {
    transform: translate(90.3191px, 86.806642px) rotate(90deg);
  }
}
#eerCdz7iIMH15_ts {
  animation: eerCdz7iIMH15_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH15_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  42.857143% {
    transform: scale(0, 0);
  }
  52.380952% {
    transform: scale(0.5, 0.5);
  }
  85.714286% {
    transform: scale(0.5, 0.5);
  }
  95.238095% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}
#eerCdz7iIMH16_tr {
  animation: eerCdz7iIMH16_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH16_tr__tr {
  0% {
    transform: translate(225.811122px, 214.614809px) rotate(39.935899deg);
  }
  47.619048% {
    transform: translate(225.811122px, 214.614809px) rotate(39.935899deg);
  }
  90.47619% {
    transform: translate(225.811122px, 214.614809px) rotate(90deg);
  }
  100% {
    transform: translate(225.811122px, 214.614809px) rotate(90deg);
  }
}
#eerCdz7iIMH16_ts {
  animation: eerCdz7iIMH16_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH16_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  42.857143% {
    transform: scale(0, 0);
  }
  52.380952% {
    transform: scale(0.5, 0.5);
  }
  85.714286% {
    transform: scale(0.5, 0.5);
  }
  95.238095% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}
#eerCdz7iIMH17_tr {
  animation: eerCdz7iIMH17_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH17_tr__tr {
  0% {
    transform: translate(237.067643px, 56.830453px) rotate(0deg);
  }
  47.619048% {
    transform: translate(237.067643px, 56.830453px) rotate(0deg);
  }
  90.47619% {
    transform: translate(237.067643px, 56.830453px) rotate(90deg);
  }
  100% {
    transform: translate(237.067643px, 56.830453px) rotate(90deg);
  }
}
#eerCdz7iIMH17_ts {
  animation: eerCdz7iIMH17_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH17_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  42.857143% {
    transform: scale(0, 0);
  }
  52.380952% {
    transform: scale(0.4, 0.4);
  }
  85.714286% {
    transform: scale(0.5, 0.5);
  }
  95.238095% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}
#eerCdz7iIMH18_tr {
  animation: eerCdz7iIMH18_tr__tr 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH18_tr__tr {
  0% {
    transform: translate(91.213208px, 149.302417px) rotate(-133.498539deg);
  }
  47.619048% {
    transform: translate(91.213208px, 149.302417px) rotate(-133.498539deg);
  }
  90.47619% {
    transform: translate(91.213208px, 149.302417px) rotate(90deg);
  }
  100% {
    transform: translate(91.213208px, 149.302417px) rotate(90deg);
  }
}
#eerCdz7iIMH18_ts {
  animation: eerCdz7iIMH18_ts__ts 2100ms linear 1 normal forwards;
}
@keyframes eerCdz7iIMH18_ts__ts {
  0% {
    transform: scale(0, 0);
  }
  42.857143% {
    transform: scale(0, 0);
  }
  52.380952% {
    transform: scale(0.4, 0.4);
  }
  85.714286% {
    transform: scale(0.4, 0.4);
  }
  95.238095% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(0, 0);
  }
}
