@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/media";

.topicsModalBody {
  text-align: center;
  padding: 3rem;
  height: 100%;
  @include for-phone-only {
    padding: 2rem;
  }

  .topicsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem;
    padding: 3rem;
    overflow-y: auto;
    max-height: 80%;

    @include for-laptop {
      padding: 1rem;
      max-height: 85%;
      gap: 2rem;
      margin: 0;
    }
    @include for-tablet-landscape {
      grid-template-columns: repeat(2, 1fr);
      gap: 2.5rem;
    }
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      max-height: 80%;
    }
  }
}
