@import "../../../../assets/styles/media";
@import "../../../../assets/styles/colors";

.settingContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
  .label {
    white-space: nowrap;
    color: $grey-color;
    font-size: 1.8rem;
    font-weight: 400;
    @include for-phone-only {
      font-size: 1.6rem;
    }
  }
}
