$theme-color: #fcc822;
$font-color: #333;
$white-color: #fff;
$silver-color: #b9b9b9;
$grey-color: #828282;
$dark-grey-color: #6f6f6f;
$carrara-color: #ecece8;
$alto-color: #d1d1d1;
$red-color: #e32020;
$dark-red-color: #f21d1d;
$green-color: #4f920c;
$dark-green-color: #4c8b0e;
