@import "../../../styles/colors.css";

.Button {
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
  padding: 0.5rem 1.5rem;
  color: var(--theme-color);
  cursor: pointer;
  background-color: transparent;
}

.Button:hover {
  color: #b9b9b9;
}

.Primary {
  color: #fff;
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  box-shadow: 0 18px 40px -12px var(--theme-color);
}

.Primary:hover {
  background: #fff;
  color: var(--theme-color);
}
.Outlined {
  background: #fff;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

.Outlined:hover {
  color: #fff;
  background: var(--theme-color);
}

.Large {
  font-size: 1.2rem;
  padding: 0.5rem 1.75rem;
}

.StartIcon {
  margin-right: 0.5rem;
}

.EndIcon {
  margin-left: 0.5rem;
}

/* --------SVG------- */
.Button svg,
.Outlined svg {
  transition: 0.15s ease-in-out;
  fill: var(--theme-color);
}

.Button:hover svg {
  fill: #b9b9b9;
}

.Primary svg,
.Outlined:hover svg {
  fill: #fff;
}

.Primary:hover svg {
  fill: var(--theme-color);
}

@media (max-width: 992px) {
  .Large {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
