@import "../../../styles/colors";
@import "../../../styles/media";
@import "../../../styles/variables";

.button {
  text-decoration: none;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  transition: $transition;
  padding: 0.8rem 2.4rem;
  color: $theme-color;
  cursor: pointer;
  &:hover:not(:disabled) {
    color: $silver-color;
    svg {
      fill: $silver-color;
    }
  }
  &:disabled {
    background-color: $alto-color;
    color: $grey-color;
    box-shadow: 0 18px 40px -12px $alto-color;
    cursor: auto;
    svg {
      fill: $font-color;
    }
  }
  svg {
    transition: $transition;
    fill: $theme-color;
  }
}

.primary:not(:disabled) {
  color: $white-color;
  background: $theme-color;
  border: 1px solid $theme-color;
  box-shadow: 0 18px 40px -12px $theme-color;
  &:hover {
    background: $white-color;
    color: $theme-color;
    svg {
      fill: $theme-color;
    }
  }
  svg {
    fill: $white-color;
  }
}

.outlined:not(:disabled) {
  background: $white-color;
  color: $theme-color;
  border: 1px solid $theme-color;
  &:hover:not(:disabled) {
    color: $white-color;
    background: $theme-color;
    svg {
      fill: $white-color;
    }
  }
  svg {
    fill: $theme-color;
  }
}

.large {
  font-size: 1.92rem;
  padding: 1rem 2.8rem;
  @include for-tablet-landscape {
    font-size: 1.6rem;
    padding: 0.8rem 2.4rem;
  }
}

.startIcon {
  margin-right: 0.8rem;
}

.endIcon {
  margin-left: 0.8rem;
}
