@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/media";
@import "../../../../assets/styles/variables";

.loginBody {
  height: 100vh;
  .leftSide {
    width: 55%;
    height: 100%;
    padding: 5rem 10rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    @include for-laptop {
      width: 60%;
      padding: 5rem 5rem;
    }
    @include for-tablet-landscape {
      padding: 5rem 2rem;
    }
    @include for-tablet-portrait {
      width: 100%;
      padding: 5rem 10rem;
    }
    @include for-phone-only {
      padding: 3rem 1.5rem;
    }
    .header {
      flex-direction: column;
      text-align: center;
      gap: 4rem;
      margin: 2rem 0;
      @include flex-center;
      @include for-phone-only {
        margin: 0;
        gap: 1.5rem;
      }
      .logo {
        width: 32rem;
        @include for-tablet-portrait {
          width: 28rem;
        }
        @include for-phone-only {
          width: 20rem;
        }
      }
      .subtitle {
        font-weight: 400;
        font-size: 2.1rem;
        color: $grey-color;
        line-height: 2.75rem;
        @include for-tablet-portrait {
          font-size: 1.9rem;
        }
        @include for-phone-only {
          font-size: 1.6rem;
        }
      }
    }
  }
  .rightSide {
    width: 45%;
    height: 100%;
    background-color: $carrara-color;
    @include flex-center;
    @include for-laptop {
      width: 40%;
    }
    @include for-tablet-portrait {
      display: none;
    }
    .image {
      width: 45rem;
      @include for-laptop {
        width: 35rem;
      }
      @include for-tablet-landscape {
        width: 30rem;
      }
    }
  }
}
