@import "../../../styles/colors";
@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/media";

.statisticsBody {
  padding-top: 3rem;
  @include for-tablet-portrait {
    padding-top: 2rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid $carrara-color;
    padding-bottom: 2rem;
    @include for-tablet-landscape {
      gap: 1rem;
    }
    @include for-tablet-portrait {
      align-items: center;
    }
    .subtitle {
      font-weight: 400;
      color: $silver-color;
    }
    .blockContainer {
      display: flex;
      @include for-phone-only {
        display: none;
      }
      .headerBlock {
        margin-right: 6rem;
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $carrara-color;
        transition: border-color $transition;
        min-width: 15rem;
        color: $grey-color;
        gap: 0.5rem;
        @include flex-center;
        @include for-tablet-portrait {
          margin-right: 3rem;
          padding: 0.75rem;
          min-width: fit-content;
        }
        &:hover {
          border-color: $theme-color-opacity;
        }
        span {
          color: inherit;
          font-weight: 500;
        }
        svg {
          fill: $grey-color;
        }
      }
    }
    .userInfo {
      color: $grey-color;
      font-size: 1.8rem;
      display: flex;
      @include for-tablet-landscape {
        font-size: 1.6rem;
      }
      span {
        cursor: pointer;
        margin-left: 1rem;
        font-weight: 500;
        color: $theme-color;
      }
    }
  }
  .paginationContainer {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    list-style: none;
    gap: 1rem;
    .breakLink {
      color: $grey-color;
      display: flex;
      align-items: flex-end;
      height: 100%;
    }
    .pageLink {
      color: $dark-grey-color;
      background-color: $alto-color;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      transition: color $transition, background-color $transition;
      @include flex-center;
    }
    .activePageLink {
      background-color: $theme-color;
      color: $white-color;
    }
    .navLink {
      svg {
        fill: $dark-grey-color;
      }
      &:is(.disabled) {
        svg {
          fill: $silver-color;
        }
      }
    }
  }
}

.tableWrapper {
  position: relative;
  margin-top: 2rem;
  .tableHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 600;
    color: $grey-color;
  }
  .row {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &:hover {
      background-color: $light-grey-color;
    }
  }
  .rowTwoCol {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .userRow {
    .cell {
      font-weight: 600;
      font-size: 1.8rem;
      @include for-tablet-landscape {
        font-size: 1.5rem;
      }
    }
  }
  .table {
    position: relative;
    min-height: 40vh;
    overflow: hidden;
    & > div:nth-child(even) {
      transition: background-color $transition;
      background-color: $carrara-color;
      &:hover {
        background-color: $mercury-color;
      }
    }
  }

  .cell {
    color: inherit;
    padding: 0 1.5rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    &:is(.textEnd) {
      justify-content: end;
    }
    &:is(.textCenter) {
      justify-content: center;
    }
    @include for-tablet-landscape {
      font-size: 1.5rem;
      &:is(.textEllipsis) {
        padding-top: 2rem;
        display: inline-block;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }
  }
}

.modalBody {
  padding: 3rem;
  .closeBtn {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    svg {
      width: inherit;
      height: inherit;
      fill: $grey-color;
    }
  }
  .backBtn {
    margin: 0 auto;
    margin-top: 5rem;
  }
  .header {
    margin-bottom: 4rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    color: $grey-color;
    @include for-laptop {
      margin-bottom: 0;
    }
    .title {
      font-weight: 600;
      letter-spacing: 0.15rem;
      color: $theme-color;
      font-size: 3.2rem;
      margin-bottom: 1.5rem;
      @include for-laptop {
        font-size: 2.8rem;
        margin-bottom: 1rem;
      }
      @include for-phone-only {
        font-size: 1.8rem;
      }
    }
    .subtitle {
      font-size: 2rem;
      color: inherit;
      @include for-laptop {
        font-size: 1.8rem;
      }
      span {
        margin-left: 1.25rem;
        color: $theme-color;
        font-weight: 600;
      }
    }
  }
  .modalTable {
    position: relative;
    margin-top: 4rem;
    width: 55%;
    margin: 0 auto;
    min-height: 40vh;
    @include for-tablet-landscape {
      width: 60%;
    }
    @include for-tablet-portrait {
      width: 70%;
    }
    @include for-phone-only {
      width: 100%;
    }
    .tableWrapper {
      z-index: 1;
      .table {
        min-height: fit-content;
        @include for-phone-only {
          min-height: 20rem;
        }
      }
      .cell {
        .icon {
          position: absolute;
          left: 1rem;
          width: 2.3rem;
          height: 2.3rem;
          margin-bottom: 0.5rem;
          svg {
            width: inherit;
            height: inherit;
            fill: $dark-green-color;
          }
        }
        @include for-laptop {
          min-height: 5rem;
        }
        @include for-phone-only {
          min-height: 4rem;
        }
      }
    }
  }
  .paginationContainer {
    position: absolute;
    width: 130%;
    left: -16%;
    top: 35%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    @include for-phone-only {
      position: static;
      width: fit-content;
      justify-content: center;
      margin: 0 auto;
      margin-top: 3rem;
      gap: 1rem;
      .breakLink {
        color: $grey-color;
        display: flex;
        align-items: flex-end;
        height: 100%;
      }
    }
    .pageLink {
      display: none;
      @include for-phone-only {
        color: $dark-grey-color;
        background-color: $alto-color;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: color $transition, background-color $transition;
        @include flex-center;
      }
    }
    .activePageLink {
      display: none;
      @include for-phone-only {
        display: flex;
        background-color: $theme-color;
        color: $white-color;
      }
    }
    .navLink {
      width: 5rem;
      height: 5rem;
      @include for-tablet-landscape {
        width: 4rem;
        height: 4rem;
      }
      @include for-phone-only {
        width: fit-content;
        height: fit-content;
      }
      svg {
        width: inherit;
        height: inherit;
        fill: $dark-grey-color;
        transition: fill $transition;
      }
      &:hover {
        svg {
          fill: $grey-color;
        }
      }
      &:is(.disabled) {
        svg {
          fill: $silver-color;
        }
      }
    }
  }
}

@include fade-transition(0.2s);
