@import "../../../../assets/styles/media";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/colors";

.quizBody {
  position: relative;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-tablet-landscape {
    height: fit-content;
  }
}

@include fade-transition(0.3s);
