@import "../../../styles/colors.css";

.HomeContainer {
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
  gap: 2rem;
}

.Info {
  padding-top: 5rem;
  width: 40%;
}

.H1 {
  font-size: 3.5rem;
}

.H3 {
  color: #828282;
  font-weight: 400;
  border-left: 2px solid var(--font-color);
  font-size: 1.2rem;
  padding-left: 1rem;
}

.BtnContainer {
  gap: 1rem;
}

.Image {
  width: 50%;
}

@media (max-width: 1200px) {
  .HomeContainer {
    padding-left: 4rem;
  }
  .Info {
    width: 50%;
    padding-top: 1rem;
  }
  .H3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .HomeContainer {
    padding-left: 0rem;
  }
  .Info {
    width: 60%;
  }
  .H1 {
    font-size: 2.5rem;
  }
  .H3 {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .HomeContainer {
    flex-direction: column;
  }
  .Info {
    text-align: center;
    width: 100%;
  }
  .H3 {
    border: none;
  }
  .BtnContainer {
    justify-content: center;
    align-items: center;
  }
  .Image {
    width: 100%;
  }
}
