@import "../../../../styles/colors";
@import "../../../../styles/media";

.questionContainer {
  margin-top: 3rem;
  margin-bottom: 6rem;
  width: 100%;
  background-color: $theme-color;
  padding: 4.5rem 2.7rem;
  @include for-laptop {
    padding: 4rem 2rem;
  }
  @include for-tablet-landscape {
    padding: 3rem 1.5rem;
  }
  @include for-phone-only {
    margin-bottom: 3rem;
  }
  .questionTitle {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    color: $white-color;
    font-size: 2.7rem;
    @include for-laptop {
      font-size: 2.4rem;
    }
    @include for-tablet-landscape {
      font-size: 2rem;
    }
  }
}
