$theme-color: #fcc822;
$secondary-color: #2fa3ba;
$theme-color-opacity: rgba(252, 201, 34, 0.8);
$font-color: #333;
$white-color: #fff;
$silver-color: #b9b9b9;
$grey-color: #828282;
$dark-grey-color: #6f6f6f;
$carrara-color: #ecece8;
$light-grey-color: #f8f8f8;
$mercury-color: #e2e2e2;
$alto-color: #d1d1d1;
$red-color: #e32020;
$dark-red-color: #f21d1d;
$green-color: #4f920c;
$dark-green-color: #4c8b0e;
$msg-success-bg: #caebc6;
$msg-error-bg: #ffc9c9;
$msg-success: #3b6535;
$msg-error: #b62525;
