@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade-transition($timeout) {
  .fadeEnter {
    opacity: 0;
  }

  .fadeEnterActive {
    opacity: 1;
    transition: opacity $timeout;
  }

  .fadeExit {
    opacity: 1;
  }

  .fadeExitActive {
    opacity: 0;
    transition: opacity $timeout;
  }
}

@mixin accordion-transition($timeout) {
  .accordionEnter {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: max-height $timeout * 2 ease-in;
  }
  .accordionEnterActive {
    max-height: 100vh;
    min-height: fit-content;
  }
  .accordionExit {
    overflow: visible;
    max-height: 100vh;
  }
  .accordionExitActive {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: max-height $timeout ease-out;
  }
}
