@import "../../../../styles/colors";
@import "../../../../styles/media";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.navLinks {
  gap: 4.8rem;
  @include for-laptop {
    gap: 3.5rem;
  }
  @include for-tablet-landscape {
    flex-direction: column;
  }

  .navLink {
    cursor: pointer;
    text-decoration: none;
    color: $silver-color;
    transition: $transition;
    svg {
      fill: $silver-color;
      transition: fill $transition;
    }
    &:hover {
      color: $grey-color;
      svg {
        fill: $grey-color;
      }
    }
  }

  .phoneOnly {
    display: none;
    @include for-tablet-landscape {
      display: block;
      &:is(.logOutLink) {
        color: $dark-red-color;
        @include flex-center;
        gap: 1rem;
        svg {
          fill: $dark-red-color;
        }
      }
    }
  }

  .dropdown {
    @include for-tablet-landscape {
      display: none;
    }
  }
}
