.NavLinks {
  gap: 3rem;
}

.NavLink {
  text-decoration: none;
  color: #c0c0c0;
  transition: 0.15s ease-in-out;
}

.NavLink:hover {
  color: #828282;
}

@media (max-width: 992px) {
  .NavLinks {
    flex-direction: column;
  }
}
